:root {
    --background: #eaeaea;

    --primary-light: #619ae7;
    --primary: #236cb4;
    --primary-dark: #004284;
    --primary-foreground: #fff;

    --secondary: #5c5b5e;
}

body {
    background-color: var(--background);
}

.ui.inverted.top.fixed.menu {
    background-image: linear-gradient(135deg, var(--primary-dark) 0%, var(--primary) 50%);
}